@import "../../public/css/mixin";
.main{background:#f4f4f4;}

/*头部导航*/
.header{
	background:#222431;
	color:#fff;
	height:126rem/$size;
	line-height:126rem/$size;
	text-align:center;
	position:relative;
	font-size:52rem/$size;
}


.header .icon-back{
	position:absolute;
	left:41rem/$size;
	top:50%;
	-webkit-transform:translate(0,-50%);
	width:43rem/$size;
	height:80rem/$size;
	background:url(imgs/icon-back.png) no-repeat;
	background-size:contain;
}

.header .icon-help{
	position:absolute;
	right:33rem/$size;
	top:50%;
	-webkit-transform:translate(0,-50%);
	width:61rem/$size;
	height:61rem/$size;
	background:url(imgs/icon-help.png) no-repeat;
	background-size:contain;
}


/*主要内容*/


/*头部信息*/

.buy-day-top{
	position:relative;
	background:#fff;
	padding:0 43rem/$size;
	color:#666;
}

.buy-day-top:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#dddada;
	-webkit-transform:scaleY(0.5);
}

.buy-day-top .top-tit{
	line-height:82rem/$size;
	color:#999;
	font-size:40rem/$size;
}

.buy-day-top .top-infor{
	position:relative;
}

.buy-day-top .top-infor:after{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	height:2rem/$size;
	width:2px;
	height:49rem/$size;
	background:#dddada;
	-webkit-transform:translate(-50%,-50%);
}

.buy-day-top .top-infor li{
	float:left;
	height:148rem/$size;
	width:50%;
	position:relative;
	box-sizing:border-box;
	font-size:48rem/$size;
	padding:50rem/$size 0;
	line-height:1;
}
.buy-day-top .top-infor .text-right{
	padding-left:70rem/$size;
}

.buy-day-top .top-infor .text-left{
	padding-right:70rem/$size;
}


.buy-day-top .top-infor li em{
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translate(0,-50%);
}

/*主要内容*/
.section{
	padding-bottom:191rem/$size;
}

.buy-day-content .cont-tit{
	line-height:100rem/$size;
	padding-left:43rem/$size;
	color:#999;
}

.buy-day-content dt{
	background:#fff;
	line-height:1;
	height:281rem/$size;
	padding-left:169rem/$size;
	position:relative;
	margin-bottom:30rem/$size;
}

.buy-day-content > dl dt:last-child{
	margin-bottom:0;
}

/*checkbox*/
.buy-day-content dt .checkbox{
	position:absolute;
	left:43rem/$size;
	top:50%;
	-webkit-transform:translate(0,-50%);
	width:80rem/$size;
	height:80rem/$size;
	background:url(imgs/check.png) no-repeat;
	background-size:contain;
}

.buy-day-content dt .checked{
	background:url(imgs/checked.png) no-repeat;
	background-size:contain;
}

.buy-day-content dt .disabled{
	background:url(imgs/check-disabled.png) no-repeat;
	background-size:contain;
}


/*顶部*/
.buy-day-content dt .infor-code{
	font-size:56rem/$size;
	position:relative;
	padding:65rem/$size 0 59rem/$size 0;
}

.infor-code .code-name{color:#333;}

.infor-code .code-code{
	font-size:44rem/$size;
	color:#666;
	padding-left:25rem/$size;
}

.infor-code .code-text{
	color:#666;
	font-size:56rem/$size;
	position:absolute;
	right:43rem/$size;
	top:50%;
	-webkit-transform:translate(0,-50%);
}

.infor-code .code-num{
	color:#333;
	font-size:60rem/$size;
}


/*其他*/
.infor-other{
	font-size:40rem/$size;
	color:#666;
	position:relative;
}

.infor-other .other-text{
	position:absolute;
	right:43rem/$size;
	top:0;
}


/*按钮*/
.submit-btn{
	position:fixed;
	left:0;
	bottom:0;
	border:0;
	outline:none;
	width:100%;
	height:161rem/$size;
	font-size:52rem/$size;
	background:#ff5a54;
	color:#fff;
}

.submit-btn:disabled{
	background:#bbb;
}
