$size:40;

.btn-group{
	padding:44rem/$size 7.4% 0 7.4%;
}

.btn-group .link-btn{
	display:block;
	border:1px solid #ff5a54;
	color:#ff5a54;
	background:#fff;
	text-align:center;
	height:122rem/$size;
	line-height:122rem/$size;
	margin-top:120rem/$size;
	font-size:51.93rem/$size;
}

.btn-group .btn-red{
	background:#ff5a54;
	color:#fff;
}

.infor-detail{
	font-size:37.95rem/$size;
	text-align:center;
	color:#999;
	line-height:1;
	padding:53rem/$size 0;
}

