$size:40;

.p-main{padding:0 7.4%;}

.p-infor{
	padding:60rem/$size 0 190rem/$size 0;
}

.p-infor .top-infor{
	color:#999;
	font-size:44rem/$size;
	line-height:1;
	padding:30rem/$size 0 0 0;
}

/*输入框*/
.p-main .ipt-gp{
	height:134rem/$size;
	box-sizing:border-box;
	margin-bottom:24rem/$size;
	position:relative;
}
.p-main .ipt-gp:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	background:#adafb0;
	-webkit-transform:scaleY(0.5);
}

.ipt-gp .icon-ipt{
	position:absolute;
	left:10rem/$size;
	top:50%;
	-webkit-transform:translate(0,-50%);
	z-index:10;
}

.ipt-gp .icon-tel{
	width:40rem/$size;
	height:61rem/$size;
	background:url(/src/assets/module/login/imgs/icon-tel.png) no-repeat;
	background-size:contain;
}

.ipt-gp .icon-code{
	width:45rem/$size;
	height:47rem/$size;
	background:url(/src/assets/module/login/imgs/icon-code.png) no-repeat;
	background-size:contain;
}


.ipt-gp .ipt-text::-webkit-input-placeholder {
	color:#999;
}

.ipt-gp .ipt-text{
	position:absolute;
	left:100rem/$size;
	display:block;
	top:50%;
	-webkit-transform:translate(0,-50%);
	color:#333;
	font-size:48rem/$size;
	z-index:10;
}



/*提交*/
.btn-submit{
	margin-top:110rem/$size;
	font-size:52rem/$size;
	color:#fff;
	background:#ff5a54;
	font-family:'microsoft yahei';
	border:0;
	height:128rem/$size;
	width:100%;
	display:block;
}

.btn-submit:disabled{
	background:#999;
	color:#fff;
}

/*底部链接*/
.link-bottom{
	display:block;
	text-align:center;
	color:#ff5a54;
	font-size:52.5rem/$size;
	line-height:0;
	height:52.5rem/$size;
	margin:630rem/$size auto 20rem/$size auto;
}

.link-bottom em,.link-bottom i{
	vertical-align:middle;
	display:inline-block;
}

.link-bottom .icon-next{
	width:39rem/$size;
	height:48rem/$size;
	background:url(/src/assets/module/login/imgs/icon-next.png) no-repeat;
	background-size:contain;
	margin-left:30rem/$size;
}

